#selected-place-conatiner li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    gap: 20px;
    width: 100%;
    margin: auto;
    text-align: center;
    font-weight: 600;
    
}

.selected-place-conatiner{
    width: 200px;
    margin: auto;
}